{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block headScript %}
<script type="module">
    import { app } from './scripts/app.js';
    await app.setup('pdfSignatures');
    window.app = app;

    let {selectFolder, folderSelected} = app.setupFolderSelection();
    window.selectFolder = selectFolder;
    window.folderSelected = folderSelected;

    const folderSelectionSupportAlertEl = document.getElementById('folderSelectionSupport-alert');
    if (!app.isFolderSelectionSupported()) {
        folderSelectionSupportAlertEl.hidden = false;
    }

    const pdfPrinterForms = document.getElementById('pdfSignatures');
    pdfPrinterForms.addEventListener('submit', function(event) {
        event.preventDefault();
        const formData = new FormData(this);
        app.pdfSignatures(formData);
    });
</script>
{% endblock %}

{% block content %}
<h1 class="title is-1 text-center">ELS: PDF Signatures</h1>
<p class="subtitle is-3 text-center">Add signatures to engagement letter PDFs</p>
<div id="folderSelectionSupport-alert" class="alert alert-error" hidden>Incompatible browser for folder select. Please switch to Chrome, Edge or Opera.</div>
<form method="post" action="/pdfPrinter/add-signatures" enctype="multipart/form-data" id="pdfSignatures">
    <input type="hidden" name="csrf-token" id="csrf-token" value="{{ csrf_token() }}">
    <div id="pdfSignatures-alertPlaceholder"></div>
    <div id="pdfSignatures-progressBarContainer" class="progress-bar-container" hidden>
        <div id="progressBar" class="progress-bar"></div>
    </div>
    <div class="form-group">
        <input class="input" type="text" id="pdfSignaturesDirectory" disabled>
        <button class="btn btn-primary" type="button" onclick="selectFolder('pdfSignaturesDirectory')">Select Folder</button>
        <input type="file" name="pdfSignaturesDirectory" id="pdfSignaturesDirectory-picker" webkitdirectory directory multiple style="display: none;" onchange="folderSelected('pdfSignaturesDirectory', 'pdfSignaturesDirectory-picker')">
    </div>
    <div>
        <button class="btn btn-secondary submit-button" type="submit">Print to PDF</button>
    </div>
</form>
<!-- Show results in a scrollable box -->
<h3 class="title is-3">PDF Results:</h3>
<p class="subtitle is-5">Conversion results are displayed below</p>
<div id="pdfSignatures-results" class="results-container"></div>
<div id="alertModal-overlay" class="modal-overlay"></div>
{% endblock %}